input[type=checkbox] {
	display:none;
}
.label-radio {
	height:100%;width:4rem;display:inline-block;
	cursor:pointer;outline:none;
}
input[type=checkbox] + .label-radio::before {
	height:100%;width:100%;display:inline-block;
	background:url('../img/ico_toggle_off.png') no-repeat;background-size:85%;content:"";
}
input[type=checkbox]:checked + .label-radio::before {
	height:100%;width:100%;display:inline-block;
	background:url('../img/ico_toggle_on.png') no-repeat;background-size:85%;content:"";
}
.span-label-button {
	height:100%;width:4rem;display:inline-block;
}
.span-label-button button[type=button] {
	height:100%;width:100%;
	border:0.1rem solid #E9ECF2;border-radius:1rem;
	cursor:pointer;outline:none;
}
.span-label-button button[type=button] img {
	height:30%;width:30%;
}
.span-label-title {
	height:100%;width:3rem;display:inline-block;
}
.span-label-form {
	height:100%;width:5rem;display:inline-block;
}
.span-label-form input[type=text] {
	height:80%;width:80%;
	border:0.2rem solid #E9ECF2;
	cursor:pointer;outline:none;
	text-align:center;
}
.span-label-form input[type=text]:focus {
	border-bottom-color:#BF0021;
}
.div-container {
	margin:0rem;padding:0rem;
	border-radius:1rem;box-shadow:0rem 1rem 5rem 0rem rgba(29, 34, 97, 0.08);
}
.div-container-item {
	margin:0rem;padding:0.5rem;
}
.table-container {
	margin:auto;padding:0rem;
	border:0.1rem solid #E9ECF2;
	table-layout:fixed;
}
.table-container-col-on {
	height:90%;width:100%;
}
.table-container-row-on {
	height:45%;width:100%;
}
.table-container-col-off {
	height:100%;width:100%;
}
.table-container-row-off {
	height:50%;width:100%;
}
td {
	border:0.1rem solid #E9ECF2;
	text-align:center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}
.td-use-m {
	background-color:#C0FFFF;
}
.td-use-f {
	background-color:#FFE3EE;
}
.td-not {
	background-color:#dcdcdc;
}