.body-container {
	height:100%;width:100%;
	margin:0rem;padding:0rem;
}
.div-dim-bg--active {
	top:0;bottom:0;left:0;right:0;position:absolute;z-index:10;
	height:100%;width:100%;display:block;
	background-color:#000;opacity:30%;
}
.section-container {
	height:100%;width:100%;display:block;
	margin:0rem;padding:0rem;
}
.div-setting-container {
	height:100%;width:calc(100% - (1rem * 2) - (1rem * 2));display:inline-flex;
	margin:0rem 1rem;padding:0.5rem 1rem;
}
.label-radio {
	height:3rem;width:6rem;
	cursor:pointer;outline:none;
}
.span-title {
	height:3rem;width:4rem;display:inline-flex;
	margin:0rem 0.1rem;padding:0rem;
	justify-content:center;align-items:center;
}
.span-form {
	height:3rem;width:4rem;
	margin:0rem 0.1rem;padding:0rem;
}
.span-value {
	height:3rem;width:calc(90% - (4rem * 1) - (5rem * 1));display:inline-flex;
	margin:0rem 0.1rem;padding:0rem;
	align-items:center;
}
.span-button {
	height:3rem;width:5rem;display:inline-flex;
	margin:0rem 0.1rem;padding:0rem;
	justify-content:center;align-items:center;
}
.table-container-col {
	height:calc(100% - (0.1rem * 2));width:calc(100% - (0.1rem * 2));
	border:0.1rem solid #E9ECF2;
	table-layout:fixed;
}
.table-container-row {
	height:calc(50% - (0.1rem * 2));width:calc(100% - (0.1rem * 2));
	border:0.1rem solid #E9ECF2;
	table-layout:fixed;
}
td {
	border:0.1rem solid #E9ECF2;
	text-align:center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}
.td-use-m {
	background-color:#C0FFFF;
}
.td-use-f {
	background-color:#FFE3EE;
}
.td-not {
	background-color:#DCDCDC;
}
.div-pop {
	display:none;
}
.div-pop--active {
	top:0;bottom:0;left:0;right:0;position:fixed;z-index:20;
	height:80%;width:80%;display:block;
	margin:auto;padding:0;
	background-color:#FFFFFF;
}
.div-pop-container-header {
	height:3rem;width:calc(100%  - (1rem * 2));display:block;
	margin:0rem;padding:0rem 1rem;
}
.div-pop-container-body {
	height:calc(100% - (3rem * 1));width:calc(100% - (1rem * 2));display:block;
	margin:0rem;padding:0rem 1rem;
	overflow-y:scroll;
}
.ul-pop-container {
	margin:0rem;padding:0rem;
}
.li-pop-container {
	height:100%;width:100%;display:inline-flex;
	margin:0rem;padding:0rem;
	list-style-type:none;
}