@media (max-width:699px) {
	.div-container-item-col--m {
		height:9rem;width:calc((9rem / 2) - (0.1rem * 1));display:inline-block;
	}
	.div-container-item-row--m {
		height:9rem;width:calc((9rem / 1) - (0.1rem * 1));display:inline-block;
	}
}
@media (min-width:700px) and (max-width:749px) {
	.div-container-item-col--m {
		height:10rem;width:calc((10rem / 2) - (0.1rem * 1));display:inline-block;
	}
	.div-container-item-row--m {
		height:10rem;width:calc((10rem / 1) - (0.1rem * 1));display:inline-block;
	}
}
@media (min-width:750px) and (max-width:799px) {
	.div-container-item-col--m {
		height:11rem;width:calc((11rem / 2) - (0.1rem * 1));display:inline-block;
	}
	.div-container-item-row--m {
		height:11rem;width:calc((11rem / 1) - (0.1rem * 1));display:inline-block;
	}
}
@media (min-width:800px) and (max-width:849px) {
	.div-container-item-col--m {
		height:12rem;width:calc((12rem / 2) - (0.1rem * 1));display:inline-block;
	}
	.div-container-item-row--m {
		height:12rem;width:calc((12rem / 1) - (0.1rem * 1));display:inline-block;
	}
}
@media (min-width:850px) and (max-width:899px) {
	.div-container-item-col--m {
		height:13rem;width:calc((13rem / 2) - (0.1rem * 1));display:inline-block;
	}
	.div-container-item-row--m {
		height:13rem;width:calc((13rem / 1) - (0.1rem * 1));display:inline-block;
	}
}
@media (min-width:900px) and (max-width:999px) {
	.div-container-item-col--m {
		height:14rem;width:calc((14rem / 2) - (0.1rem * 1));display:inline-block;
	}
	.div-container-item-row--m {
		height:14rem;width:calc((14rem / 1) - (0.1rem * 1));display:inline-block;
	}
}
@media (min-width:1000px) and (max-width:1099px) {
	.div-container-item-col--m {
		height:15rem;width:calc((15rem / 2) - (0.1rem * 1));display:inline-block;
	}
	.div-container-item-row--m {
		height:15rem;width:calc((15rem / 1) - (0.1rem * 1));display:inline-block;
	}
}
@media (min-width:1100px) and (max-width:1199px) {
	.div-container-item-col--m {
		height:16rem;width:calc((16rem / 2) - (0.1rem * 1));display:inline-block;
	}
	.div-container-item-row--m {
		height:16rem;width:calc((16rem / 1) - (0.1rem * 1));display:inline-block;
	}
}
@media (min-width:1200px) and (max-width:1299px) {
	.div-container-item-col--m {
		height:17rem;width:calc((17rem / 2) - (0.1rem * 1));display:inline-block;
	}
	.div-container-item-row--m {
		height:17rem;width:calc((17rem / 1) - (0.1rem * 1));display:inline-block;
	}
}
@media (min-width:1300px) {
	.div-container-item-col--m {
		height:18rem;width:calc((18rem / 2) - (0.1rem * 1));display:inline-block;
	}
	.div-container-item-row--m {
		height:18rem;width:calc((18rem / 1) - (0.1rem * 1));display:inline-block;
	}
}
@media (max-width:899px) {
	.f--s--m {
		font-size:0.4rem;font-weight:400;
	}
	.f--m--m {
		font-size:0.5rem;font-weight:400;
	}
	.f--l--m {
		font-size:0.7rem;font-weight:600;
	}
}
@media (min-width:900px) and (max-width:1049px) {
	.f--s--m {
		font-size:0.4rem;font-weight:400;
	}
	.f--m--m {
		font-size:0.5rem;font-weight:400;
	}
	.f--l--m {
		font-size:0.8rem;font-weight:600;
	}
}
@media (min-width:1050px) and (max-width:1199px) {
	.f--s--m {
		font-size:0.4rem;font-weight:400;
	}
	.f--m--m {
		font-size:0.5rem;font-weight:400;
	}
	.f--l--m {
		font-size:0.9rem;font-weight:600;
	}
}
@media (min-width:1200px) {
	.f--s--m {
		font-size:0.5rem;font-weight:400;
	}
	.f--m--m {
		font-size:0.6rem;font-weight:400;
	}
	.f--l--m {
		font-size:1.0rem;font-weight:600;
	}
}