input[type=checkbox] {
	display:none;
}
input[type=checkbox] + .label-radio::before {
	height:100%;width:100%;display:block;
	background:url('../img/ico_toggle_off.png') no-repeat;background-size:90%;content:"";
}
input[type=checkbox]:checked + .label-radio::before {
	height:100%;width:100%;display:block;
	background:url('../img/ico_toggle_on.png') no-repeat;background-size:90%;content:"";
}
.span-form input[type=text] {
	height:calc(100% - (0.3rem * 2));width:calc(100% - (0.3rem * 2));
	border:0.2rem solid #E9ECF2;
	cursor:pointer;outline:none;
	text-align:center;
}
.span-form input[type=text]:focus {
	border-bottom-color:#BF0021;
}
.span-button button[type=button] {
	height:70%;width:90%;display:inline-flex;
	border:0rem;border-radius:1rem;
	cursor:pointer;outline:none;
	justify-content:center;align-items:center;
}
.span-button button[type=button].btn--add::before {
	height:40%;width:40%;display:block;
	background:url('../img/ico_btn_add.png') no-repeat;background-size:60%;content:"";
}
.span-button button[type=button].btn--del::before {
	height:40%;width:40%;display:block;
	background:url('../img/ico_btn_remove.png') no-repeat;background-size:60%;content:"";
}